<h1>Discount Show Page</h1>

<h2><%= @merchant.name %></h2>

<h3>
  <ul>
    <li>Discount id:  <%= @discount.id %></li>
    <li>Percentage:  <%= @discount.percent %></li>
    <li>Quantity Threshold:  <%= @discount.quantity %></li>
  </ul>
</h3>
