<%= render 'merchants/header', locals: {merchant_id: @merchant} %>

<h1>Merchants Items Index Page</h1>

<div class="merchant-items">
  <ul>
    <% @merchant.items.each do |item| %>
    <li> <%= link_to item.name, merchant_item_path(@merchant, item.id) %> </li>
    <% end %>
  </ul>

</div>
