<h1>Merchant Item Show Page</h1>

<div class="item-show">
  <ul>
    <li> <h2><%= @item.name %></h2></li>
        <li>Description: <%= @item.description %></li>
        <li>Current Selling Price: <%= @item.unit_price %></li>     
  </ul>
</div>
