.admin_dashboard_body {
  display: flex;
  justify-content: space-around;
}

.admin_dashboard_item {
}

.admin_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin_header_item {
}
