#admin_invoice_container {
  display: flex;
  flex-wrap: wrap;
}

#admin_invoice_container_header {
  justify-content: center;
}

#admin_invoice_container_body {

}

#admin_invoice_status {

}

#admin_invoice_customer {

}

#admin_invoice_items {

}